dist
build
igneous.egg-info
*.so
.eggs
*.pyc
__pycache__
.cache
create.py
create2.py
create3.py
test.py
test2.py
skeletonize.py
saved_images
pipeline.py
.pytest_cache
projects
*secret.json
.vscode
data/