backports.lzma==0.0.8
click==6.7
cryptography==2.0.3
cloud-volume==0.10.3
-e git+https://github.com/seung-lab/intern.git#egg=intern
google-api-python-client==1.6.2
networkx==1.11
numpy==1.13.3
pyasn1
pyopenssl==17.2.0
pytest==3.3.1
task-queue==0.4.0
tenacity==4.4.0
tqdm==4.19.5
oauth2client==3.0.0
protobuf>=3.5.1